$font: 'Inter', sans-serif;

// Peso da font
$lg: 300;
$rg: 400;
$m: 500;
$sb: 600;
$b: 700;
$xb: 800;
$xxb: 900;

// Tamanho Fontes
$tamanho-do-texto: 3rem;

// Media Screen
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Margins
$maior-lg: 10vw;
$menor-lg: 2vw;

// Cores
$cor-primaria: #0C1B42;
$cor-secundaria: #FAEE41;
$cor-secundaria-active: #f8e917;
$cor-terciaria: #421981;
$cor-quartenaria: #056CF9;
$cor-verde-escuro: #036B52;
$cor-verde: #4CAF50;
$cor-verde-active: #56ca59;
$cor-cinza: #e9e7e7;
$cor-text-dark: #001813;
$cor-text-light: #F2FFFC;
