@import '../abstract/variaveis';

.login {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  .login-logo {
    width: 150px;
    margin: 40px;
  }
  .entrar-com {
    font-family: $font;
    color: $cor-text-dark;
    opacity: 0.8;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.8 ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    span {
      font-size: $tamanho-do-texto / 3.5;
    }
    .ico-social {
      font-size: $tamanho-do-texto / 3;
    }
    .google {
      font-size: $tamanho-do-texto / 3.5;
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
  }
  .ou {
    font-family: $font;
    color: $cor-text-dark;
    margin-bottom: 20px;
    font-size: $tamanho-do-texto / 3.5;
    opacity: 0.5;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0.65em;
      width: 130px;
      top: 50%;
      height: 0.05em;
      background-color: $cor-text-dark;
      left: -140px;
    }
    &::after {
      left: initial;
      right: -140px;
    }
  }
  .login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    height: 300px;
    width: 300px;
    padding: 20px;
    background-color: $cor-cinza;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    label {
      font-family: $font;
      font-size: $tamanho-do-texto / 4;
      color: $cor-primaria;
      display: flex;
      flex-direction: column;
      gap: 4px;
      input {
        width: 100%;
        font-size: $tamanho-do-texto / 3;
        padding: 8px 16px;
        border: solid 1px $cor-text-light;
        border-radius: 4px;
        outline: none;
        &:focus, &:hover {
          border: solid 1px $cor-primaria !important;
        }
      }
    }
    button {
      padding: 8px 16px;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      transition-duration: 0.4s;
    }
    .bttn-login {
      background-color: $cor-verde;
      color: $cor-text-light;
      &:hover {
        background-color: $cor-verde-active;
        color: $cor-text-light;
      }
    }
    .bttn-sign {
      background-color: transparent;
      border: 1px solid $cor-primaria;
      color: $cor-primaria;
      &:hover {
        background-color: $cor-primaria;
        color: white;
      }
    }
    .error-message {
      animation-name: horizontal-shaking;
      animation-duration: 0.35s;
      animation-iteration-count: 10;
      font-family: $font !important;
      width: 100%;
      text-align: center;
      font-size: $tamanho-do-texto / 4;
      color: $cor-text-dark;
      opacity: 0.5;
      position: absolute;
      top: 110%;
      left: 0;
    }
  }
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }