@import '../abstract/variaveis';

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100vw;
  padding: 40px 5vw;
  gap: 20px;
}

@media screen and (max-width: $lg) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}

@media screen and (max-width: $md) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: $sm) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}