@import '../abstract/variaveis';

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-family: $font;
  height: 60px;
  z-index: 2;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    a, h2 {
      color: $cor-text-light;
      font-weight: $sb;
    }
    a {
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .nav-item-logo {
    background-color: white;
    border: solid 1px $cor-primaria;
    width: 10%;
    img {
      width: 50px;
    }
  }
  .nav-item-1 {
    background-color: $cor-primaria;
    width: 20%;
  }
  .nav-item-2 {
    background-color: $cor-terciaria;
    width: 40%;
  }
  .nav-item-3 {
    display: flex;
    align-items: center;
    background-color: $cor-text-light;
    width: 20%;
    h2 {
      color: $cor-text-dark;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      .icon-person {
        position: absolute;
        font-size: 20px;
        left: -24px;
        top: 15px;
      }
    }
  }
  .nav-item-4 {
    background-color: $cor-quartenaria;
    width: 10%;
    display: flex;
    align-items: center;
    a {
      position: relative;
      .ico-logout {
        position: absolute;
        top: -1px;
        left: -24px;
      }
    }
  }
}